<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
	<div class="bg"></div>
	<div class="right">
		<form action="../login/salerLogin" method="post">
			<div class="error">$!loginMsg</div>
			<div>
				<label class="lable">用户名：</label>
				<input type="text" class="text" placeholder="用户名" name = "salerName"/>
			</div>
			<div>
				<label class="lable">密码：</label>
				<input type="password"  class="text" placeholder="密码" name = "password"/>
			</div>
			<input type="submit" class="btn" value="登陆" />
		</form>
	</div>
</body>
</html>