<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>个人主页</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/jquery.datetimepicker.css"/>
</head>
<body class="wrapper">
	<ul class="nav">
	    <li>密码管理</li>
	    <li>交易记录</li>
	    <li>拍卖商品添加</li>
	    <li>购物商品添加</li>
	</ul>

	<ul class="container">
		<li class="password-manage">
		  <form action = "" method="post">
		    <div class="row people">
				<img class="portrait" src="../img/$!saler.img">
			</div>
			<div class="password">
				<div class="col">原密码：</div>
				<input type="password" id = "pas"/>
			</div>
			<div class="password">
				<div class="col">新密码：</div>
				<input type="password" id = "apas"/>
			</div>
			<div class="password">
				<div class="col">确认新密码：</div>
				<input type="password" id = "newPas"/>
			</div>
			    <input class="btn" type="button" value ="确认" onclick = "editPas()"/>
		   </form>
		</li>
		<li class="buy-record">
		    <div class="row people">
				<img class="portrait" src="../img/$!img">
			</div>
			#if($!commodityList)
			   #foreach($!list in $!commodityList)
				<div class="row clearfix">
					<div class="left">
						<img class="detail-img" src="../img/$!list.imgUrl">
						<div class="name">$!list.name</div>
						<div class="price">$!list.price元/个</div>
						<div class="num">$!list.number个</div>
						<div class="num">总价：$!list.sum</div>
					</div>
					<div class="right">
						<div>商品描述:</div>
						<div class="describe">$!list.introduce</div>
					</div>
				</div>
			   #end
			#end   	
		</li>
		<li class="buy-record">
		    <div>
		      <form action = "../saler/addCommodity" method = "post"  enctype="multipart/form-data"> 
		                        商品名称：<input type="text" placeholder="商品名称" name="name"/> 
		                        商品价格:<input type="text" placeholder="商品价格" name="price"/> 
		                        商品介绍:<input type="text" placeholder="商品介绍" name="introduce"/>             
		                        商品数量:<input type="text" placeholder="商品数量" name="number"/> 
		                        商品类型:
		                 <input type="radio" name="type" value="1" checked="checked"/>运动
		                 <input type="radio" name="type" value="2" />娱乐
		                 <input type="radio" name="type" value="3" />生活
		                 <input type="radio" name="type" value="4" />其他
		                        选择文件:<input type="file" name="file" />     <br/>
			              选择文件:<input type="file" name="fileList"/>  <br/>
			              选择文件:<input type="file" name="fileList"/>  <br/>
			              选择文件:<input type="file" name="fileList"/>  <br/>
		          <input type="submit" value = "提交"/>
		      </form>
		    </div>
		</li>
		<li class="buy-record">
		    <div>
		      <form action = "../saler/addAuction" method = "post"  enctype="multipart/form-data"> 
		                        商品名称：<input type="text" placeholder="商品名称" name="name"/> 
		                        商品价格:<input type="text" placeholder="商品价格" name="price"/> 
		                        商品介绍:<input type="text" placeholder="商品介绍" name="introduce"/>      
		                        最低价格:<input type="text" placeholder="最低价格" name="lowPrice" id="lowPrice" onblur="lowPrice()"/>  
		                        作者:<input type="text" placeholder="作者" name="author"/>        
		                        结束时间:<input type="text" value="2014/03/15 05:06" id="datetimepicker" name = "endTime"/><br/> 
		                        商品类型:
		                 <input type="radio" name="type" value="1" checked="checked"/>书籍
		                 <input type="radio" name="type" value="2" />画像
		                 <input type="radio" name="type" value="3" />瓷器
		                 <input type="radio" name="type" value="4" />玉器
		                 <input type="radio" name="type" value="5" />美酒
		          img:<input type="file" name="file" />     <br/>
			      imgList:<input type="file" name="fileList"/>  <br/>
			      imgList:<input type="file" name="fileList"/>  <br/>
			      imgList:<input type="file" name="fileList"/>  <br/>
		          <input type="submit" value = "提交"/>
		      </form>
		    </div>
		</li>
	</ul>
	<script src="../js/jquery.js"></script>
	<script src="../js/jquery.datetimepicker.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/main.js"></script>
	<script>
      function editPas()
      {
    	 var pas = $("#pas").val();
     	 var apas = $("#apas").val();
     	 var newPas = $("#newPas").val();
     	 if(newPas == "" || newPas == null || newPas != apas)
     	 {
             alert("两次密码必须一致");
     	 }
     	 else
     	 {
     		$.ajax({
	            type:'POST',
	            url: "../personal/editPas",
	            data:"pas="+pas+"&newPas="+newPas,
	            success:function(a){
	 	            if(a == "success")
	 	              alert("修改成功");
	 	            else if(a == "error")
	 	              alert("原密码输入错误");
	 	            else
	 	              alert("修改失败，重新修改");    
	                 }
   	              }) 
     	 } 
      }
 
      function lowPrice()
      {
     		if(isNaN($("#lowPirce").val())||$("#lowPirce").val()<0){ 
                 alert("请输入正整数");
      }    
    





      
      function record()
      { 
        alert("111111");
        windows.href.location = "../saler/record";  
      };
      
      $("#datetimepicker").datetimepicker();
      $("#datetimepicker").datetimepicker({value:'2015/04/15 05:03',step:10});
	</script>
	
</body>
</html>