<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auction.mapper.mapper.AuctionDetailsMapper">
	
	<resultMap id = "book" type= "com.auction.pojo.AuctionBookDO">
	   <id column = "id" property = "id"/>
	   <result column = "name" property = "name"/>
	   <result column = "price" property = "price"/>
	   <result column = "salerId" property = "salerId"/>
	   <result column = "endTime" property = "endTime"/>
	   <result column = "lowPrice" property = "lowPrice"/>
	   <result column = "imgUrl" property = "imgUrl"/>
	   <result column = "type" property = "type"/> 
	   <result column = "introduce" property = "introduce"/>
	   <result column = "img" property = "img"/>
	   <result column = "author" property = "author" />
	   <result column = "buyerId" property = "buyerId" />
	</resultMap>
	
	<resultMap id = "painting" type= "com.auction.pojo.AuctionPaintingDO">
	   <id column = "id" property = "id"/>
	   <result column = "name" property = "name"/>
	   <result column = "price" property = "price"/>
	   <result column = "salerId" property = "salerId"/>
	   <result column = "endTime" property = "endTime"/>
	   <result column = "lowPrice" property = "lowPrice"/>
	   <result column = "imgUrl" property = "imgUrl"/>
	   <result column = "type" property = "type"/> 
	   <result column = "introduce" property = "introduce"/>
	   <result column = "img" property = "img"/>
	   <result column = "author" property = "author" /> 
	   <result column = "buyerId" property = "buyerId" />
	</resultMap>
	
	<resultMap id = "chinaware" type= "com.auction.pojo.AuctionChinaWareDO">
	   <id column = "id" property = "id"/>
	   <result column = "name" property = "name"/>
	   <result column = "price" property = "price"/>
	   <result column = "salerId" property = "salerId"/>
	   <result column = "endTime" property = "endTime"/>
	   <result column = "lowPrice" property = "lowPrice"/>
	   <result column = "imgUrl" property = "imgUrl"/>
	   <result column = "type" property = "type"/>
	   <result column = "introduce" property = "introduce"/>
	   <result column = "img" property = "img"/> 
	   <result column = "author" property = "author" />
	   <result column = "buyerId" property = "buyerId" />
	</resultMap>
	
	<resultMap id = "jadeware" type= "com.auction.pojo.AuctionJadeWareDO">
	   <id column = "id" property = "id"/>
	   <result column = "name" property = "name"/>
	   <result column = "price" property = "price"/>
	   <result column = "salerId" property = "salerId"/>
	   <result column = "endTime" property = "endTime"/>
	   <result column = "lowPrice" property = "lowPrice"/>
	   <result column = "imgUrl" property = "imgUrl"/>
	   <result column = "type" property = "type"/>
	   <result column = "introduce" property = "introduce"/>
	   <result column = "img" property = "img"/> 
	   <result column = "author" property = "author" />
	   <result column = "buyerId" property = "buyerId" />
	</resultMap>
	
	<resultMap id = "liquor" type= "com.auction.pojo.AuctionLiquorDO">
	   <id column = "id" property = "id"/>
	   <result column = "name" property = "name"/>
	   <result column = "price" property = "price"/>
	   <result column = "salerId" property = "salerId"/>
	   <result column = "endTime" property = "endTime"/>
	   <result column = "lowPrice" property = "lowPrice"/>
	   <result column = "imgUrl" property = "imgUrl"/>
	   <result column = "type" property = "type"/>
	   <result column = "introduce" property = "introduce"/>
	   <result column = "img" property = "img"/> 
	   <result column = "author" property = "author" />
	   <result column = "buyerId" property = "buyerId" />
	</resultMap>
	
	<select id = "detailsBook" resultMap = "book">
		select
		*
		from auction_book where id = #{id}
	</select>
	
	<select id = "detailsChinaWare" resultMap = "chinaware">
		select
		*
		from auction_chinaware where id = #{id}
	</select>
	
	<select id = "detailsPainting" resultMap = "painting">
		select
		*
		from auction_painting where id = #{id}
	</select>
	
	<select id = "detailsJadeWare" resultMap = "jadeware">
		select
		*
		from auction_jadeware where id = #{id}
	</select>
	
	<select id = "detailsLiquor" resultMap = "liquor">
		select
		*
		from auction_liquor where id = #{id}
	</select>
</mapper>