<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auction.mapper.mapper.AjaxMapper">
	<update id = "updateGood" parameterType="com.auction.pojo.CommentDO">
        update comment set good=(good+1) where id=#{comment.id}  	
	</update>
	
	<update id = "updateCommon" parameterType="com.auction.pojo.CommentDO">
        update comment set common=(common+1) where id=#{comment.id}  	
	</update>
	
	<update id = "updateBad" parameterType="com.auction.pojo.CommentDO">
        update comment set bad=(bad+1) where id=#{comment.id}  	
	</update>
	
	<insert id = "insertComment" parameterType="com.auction.pojo.CommentDO">
	    insert into comment(commodityId,content,good,common,bad,time,buyerName) values(#{comment.commodityId},#{comment.content},#{comment.good},#{comment.common},#{comment.bad},#{comment.time},#{comment.buyerName})
	</insert>
</mapper>