<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auction.mapper.mapper.AuctionNewsMapper">
	
	<resultMap id = "newsDO" type= "com.auction.pojo.AuctionNewsDO">
	   <id column = "id" property = "id"/>
	   <result column = "title" property = "title"/>
	   <result column = "content" property = "content"/>
	   <result column = "time" property = "time"/>
	   <result column = "img" property = "img"/>
	</resultMap>
	
	<select id = "getNews" resultType = "com.auction.pojo.AuctionNewsDO" parameterType = "int">
		select
		*
		from auction_news where id = #{id}
	</select>
	
	<select id = "getNewsList" resultMap = "newsDO">
		select
		*
		from auction_news order by time desc
	</select>
</mapper>