<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link type="text/css" href="../css/css1.css" rel="stylesheet" />
<script type=text/javascript src="../js/jquery.js"></script>
<script type=text/javascript src="../js/kefu.js"></script>
</head>

<body>
 <div class="mainCont">
   <div class="xian">&nbsp;</div>
   <div class="cont">
    <div class="contLeft">
     <h1 class="logo"><a href="#"><img src="../comImages/logo.jpg" width="183" height="160" /></a></h1>
     <ul class="nav">
    	<li><a href="../../project/initAuction">网站首页</a></li>
		<li><a href="../../auction/show/book">书籍首页</a></li>
		<li><a href="../../auction/show/painting">画像首页</a></li>
		<li><a href="../../auction/show/chinaware">瓷器首页</a></li>
		<li><a href="../../auction/show/jadeware">玉器首页</a></li>
		<li><a href="../../auction/show/liquor">美酒首页</a></li>
     </ul><!--nav/-->
    </div><!--contLeft/-->
    <div class="contRight">
     <div class="banner">
      <img src="../images/banner.jpg" width="722" height="236" />
     </div><!--banner/-->
     <div class="positions"><h1>文章详情</h1></div>
     <div class="content" id="new">
                   文章内容:$!auctionNews.content
     </div><!--content/-->
    </div><!--contRight/-->
    <div class="clear"></div>
   </div><!--cont/-->
 </div><!--mianCont-->
 <div class="link">
  <h3>友情链接</h3>
 </div>
</body>
</html>
