<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="../css/menu.css" rel='stylesheet' type='text/css' />
<link type="text/css" href="../css/css1.css" rel="stylesheet" />
<script type=text/javascript src="../js/jquery.js"></script>
<script type=text/javascript src="../js/kefu.js"></script>
</head>

<body>
  <span class="menu"></span>
    <div class="navbar"  style=" z-index:9">
		 <a class="menu" href="#"><i class="icon-align-justify"></i></a>
		 <a class="link hme" href="../project/initAuction">
			<span class="active"><span class="valign"><span class="vertical">拍部分</span></span></span>
			<span class="hover"><span class="valign"><span class="vertical">拍</span></span></span>
		  </a>
		  <a class="link abt" href="../project/initSale">
			<span class="active"><span class="valign"><span class="vertical">卖部分</span></span></span>
			<span class="hover"><span class="valign"><span class="vertical">卖</span></span></span>
		  </a>
		 <a class="link tdz" href="#" onclick="shopCar()">
			<span class="active"><span class="valign"><span class="vertical">购物车</span></span></span>
			<span class="hover"><span class="valign"><span class="vertical">购物车</span></span></span>
		  </a>
		  <a class="link" href="#" onclick="personal()">
			<span class="active"><span class="valign"><span class="vertical">个人中心</span></span></span>
			<span class="hover"><span class="valign"><span class="vertical">个人中心</span></span></span>
		  </a>
	</div>
	<!-- script for menu -->
	<script>
		$( "span.menu" ).click(function() {
		  $( ".navbar" ).slideToggle( "slow", function() {
		  });
		});
	</script>
 <div class="mainCont">
   <div class="xian">&nbsp;</div>
   <div class="cont">
    <div class="contLeft">
     <h1 class="logo"><a href="#"><img src="../comImages/logo.jpg" width="183" height="160" /></a></h1>
     <ul class="nav">
    	<li><a href="../../project/initAuction">网站首页</a></li>
		<li><a href="../../auction/show/book">书籍首页</a></li>
		<li><a href="../../auction/show/painting">画像首页</a></li>
		<li><a href="../../auction/show/chinaware">瓷器首页</a></li>
		<li><a href="../../auction/show/jadeware">玉器首页</a></li>
		<li><a href="../../auction/show/liquor">美酒首页</a></li>
     </ul><!--nav/-->
    </div><!--contLeft/-->
    <div class="contRight">
     <div class="banner">
      <img src="../images/banner.jpg" width="722" height="236" />
     </div><!--banner/-->
     <div class="positions"><h1>最新动态</h1></div>
     <div class="content" id="new">
      <ul>
        #if($!historyList)
          #foreach($!list in $!historyList)
            <li><a href="../auction/history?id=$!list.id">$!list.name</a><span>$dateTool.format("yyyy-MM-dd",$!list.time)</span></li>
          #end
        #end   
      </ul>
     </div><!--content/-->
     
     <p>
<div class="yahoo2"><span class="disabled">&lt; Prev</span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2">Next &gt;</a></div></p>
    </div><!--contRight/-->
    <div class="clear"></div>
   </div><!--cont/-->
 </div><!--mianCont-->
 <input type = "hidden" id = "user" value = "$!buyer.buyerName"/>
 <script>
	  function shopCar()
      {
    	 var buyerName = $("#user").val();
    	 if($("#user").val() == ""||$("#user").val() == null)
    	 {
    		 alert("请先登录");
    	 }
    	 else 
    	 {
    		 window.location.href="../pay/shopCar"
    	 }
      }
	  function personal()
	  {
		  var buyerName = $("#user").val();
	    	 if($("#user").val() == ""||$("#user").val() == null)
	    	 {
	    		 alert("请先登录");
	    	 }
	    	 else 
	    	 {
	    		 window.location.href="../personal/getPersonalList"
	    	 }
	  }
	</script>	
</body>
</html>
